/**
Styles for Hôte dashboard page
*/
html.wp-toolbar {
  padding-top: 0;
}
#wpwrap:before {
  background-image: linear-gradient(#fff0 0%, #ffff 50%),
    url("/wp-content/themes/hotel-pasteur-theme/le-registre/public/assets/background-image.webp");
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -99;
}
#wpadminbar {
  display: none;
}
#screen-meta-links,
#collapse-menu,
.handle-actions {
  display: none;
}
#adminmenuback,
#adminmenuwrap {
  display: none;
}
#screen-meta-links {
  margin-left: 0;
}
body.index-php #wpbody {
  padding-top: 0;
}
body.index-php #dashboard-widgets .postbox-container .empty-container {
  display: none;
}
body.index-php #wpcontent {
  margin-left: 0 !important;
}
/*Remove dashboard title*/
body.index-php .wrap > h1 {
  display: none;
}
/*Remove postbox container and draggable header*/
body.index-php #postbox-container-2,
#postbox-container-3,
#postbox-container-4 {
  display: none;
}
body.index-php .postbox-header {
  display: none;
}
/*Remove notice and footer*/
.notice {
  display: none;
}
#wpfooter {
  display: none;
}
/*Add custom styling to host custom dashboard widget*/
#postbox-container-1 {
  width: 100% !important;
}
#host_custom_dashboard {
  border: 0;
  max-width: 800px;
  margin: auto;
}
/* Styles for host dashboard*/
#host-dashboard {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
#title {
  margin-top: 2rem;
}
.visits-container {
  width: 100%;
  padding-top: 1rem;
  max-width: 600px;
}
.visit-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
}
.visit-row h4 {
  margin: 0 !important;
}
.visit-control {
  display: flex;
  justify-content: center;
}
.visit-control .host-button {
  margin: 0.3rem;
}
#host-footer-bar {
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#host-footer-bar .host-button {
  margin-top: 5rem;
}
.host-button {
  text-align: center;
  position: relative;
}

.host-button .tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 10rem;
  top: -2.5rem;
  left: 50%;
  background-color: #eee;
  border-radius: 1rem;
  text-align: center;
  padding: 5px 0px;
  transform: translate(-50%, 0);
  transition: opacity 0.2s ease 0.5s;
}
#host-footer-bar .tooltip {
  visibility: visible;
  opacity: 1;
}
.host-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease 0;
  pointer-events: none;
}
.host-button .tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
}
.host-button button {
  margin: auto;
  display: flex;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 0 2px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow, transform ease 0.2s;
}
.host-button button:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
/**
Styles for Hôte sejour cpt gutenberg editor
*/
.edit-post-header a.edit-post-fullscreen-mode-close {
  display: none;
}
div.edit-post-more-menu {
  display: none;
}
/* Title of postbox container styling*/
.postbox-header h2 {
  text-transform: uppercase;
}
/* We remove séjour sidepanel*/
div.edit-post-sidebar
  div.components-panel__header li:first-child {
    display: none;
  }
div.edit-post-sidebar
  div.components-panel
  > div.components-panel__body {
  display: none;
}
.block-editor-block-inspector__advanced {
  display: none;
}
.wp-block {
  max-width: 1200px;
}
div.components-base-control__field > div.components-flex {
  height: inherit;
}
